#calendar {
    margin: 0 auto;
    width: 90%;
}
#header{
    font-size: 2.4rem;
    font-weight: bold;
}
.day, .date-block{
    float: left;
    width: calc(100% / 7);
}
#dates {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.date-block {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    height: 15vh;
    padding: 4px;
}
.date-block.empty {
    background-color: #eee;
}
.event {
    background: orange;
    color: white;
    padding: 0 6px;
    border-radius: 12px;
}
.event .title{
    float: left;
}
.event .from {
    float: right;
}

/* info-panel  */
#info-panel{
    position: fixed;
    background: white;
    border: 1px solid #ccc;
    width: 280px;
    display: none;
}
#info-panel.open{
    display: block;
}
#info-panel label{
    font-size: .8rem;
    color: #aaa;
}
#info-panel .title, #info-panel .time-picker {
    border-bottom: 1px solid #ccc;
}

#info-panel .title, 
#info-panel .time-picker,
#info-panel .description{
    padding: 10px;
}

.selected-date {
    text-align: center;
    font-size: 1.4rem;
}
#description{
    width: 100%;
}
#info-panel .close {
    position: relative;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
#info-panel button{
    display: none;
}
#info-panel.new button.create,
#info-panel.new button.cancel {
    float: left;
    display: block;
    width: 50%;
}
#info-panel.update button.update,
#info-panel.update button.cancel,
#info-panel.update button.delete {
    display: inline-block;
    float: left;
    width: 50%;
}
#info-panel.update button.delete{
    width: 100%;
    background: #c21717;
}
#info-panel button{
    display: none;
    border: none;
    cursor: pointer;
    color: white;
    padding: 10px;
}
#info-panel.new button.create,
#info-panel.update button.update {
    background: #74be00;
}



